* {
      margin: 0px;
      padding: 0px;
}
.container {
      max-width: 1600px;
      margin: 0 auto;
}
.section_header {
      background-color: rgb(216, 226, 227);
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.logo img {
      width: 50px;
}
.navbar ul {
      display: flex;
      justify-content: center;  
}
a {
      text-decoration: none;
}
li {
      text-decoration: none;
      margin-left: 50px;
      list-style-type: none;
      font-size: 40px;
      color: black;
}
.section_main {
      display: flex;
      justify-content: space-between;
}
.author img{
      width: 400px;
}
.books {
      display: flex;
      flex-wrap: wrap;
}
.books img {
      width: 300px;
}
.section_footer {
      background-color: rgb(205, 220, 221);
      display: flex;
      flex-direction: column;  
}
.section_footer h1 {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      color: rgb(29, 6, 243);
}
.social_media {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
      margin-bottom: 50px;
}
.social_media img {
      width: 50px;
}